<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appsem5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSem5">
        <activity android:name=".MainPage"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pakiety.widokiPoPowiadomieniach.SportNotifcation"/>
        <activity android:name=".pakiety.aktywnePakiety.WidokAktywnychPakietow" />
        <activity android:name=".pakiety.wszystkiePakiety.WidokWszystkichPakietow" />
        <activity android:name=".pakiety.Sport" />
        <activity android:name=".pakiety.TreningMozgu" />
        <activity android:name=".pakiety.ZdroweNawykiZywieniowe" />
        <activity android:name=".pakiety.ZdrowiePsychiczne" />
        <activity android:name=".BrainNotification"/>
        <activity android:name=".PsychicalNotification"/>
        <activity android:name=".HealthyHabitsNotification"/>
        <receiver android:name=".pakiety.AlarmReceiver" />

    </application>

</manifest>